{% extends './base/index.html' %}

{% block title %}Vacants resgister{% endblock %}

{% block name %}View vacant{% endblock %}


{% block content %}


<div class="py-5 border-b">

    <form method="POST" class="mb-12" id="form_vacant">

        <!-- Interview Data -->

        {% csrf_token %}
        <div class="grid grid-cols-2 gap-4 mb-5">



            <div class="text-md font-semibold text-gray-700 flex flex-col w-full bg-zinc-50 rounded-md shadow-xl p-4 ">
                <h2 class="text-gray-700 text-lg font-bold leading-none hover:underline hover:cursor-pointer">
                    Type:
                </h2>
                {{interview_form.type}}

            </div>

            <div class="text-md font-semibold text-gray-700 flex flex-col w-full bg-zinc-50 rounded-md shadow-xl p-4 ">
                <h2 class="text-gray-700 text-lg font-bold leading-none hover:underline hover:cursor-pointer">
                    day:
                </h2>
                {{interview_form.day}}

            </div>


        </div>


        <div class="grid  grid-cols-1 md:grid-cols-2 gap-4 ">
            <div class="text-md font-semibold text-gray-700 flex flex-col w-full bg-zinc-50 rounded-md shadow-xl p-4 ">
                <label class="text-xl" for="summary">
                    Preparation:
                </label>
                {{ interview_form.preparation}}


            </div>


            <div class="text-md font-semibold text-gray-700 flex flex-col w-full bg-zinc-50 rounded-md shadow-xl p-4 ">
                <label class="text-xl" for="summary">
                    Feed Back:
                </label>
                {{interview_form.feed_back}}


            </div>
        </div>
        <button type="submit">
            <div class="mt-5 hover:cursor-pointer 
            bg-teal-400 rounded-md hover:bg-teal-600 w-full py-2 text-white font-semibold shadow-lg drop-shadow-lg
         text-center text-2xl leading-none">

                <span class="">
                    Save
                </span>
            </div>
        </button>

        <!-- Interview Data -->
    </form>



    <script>
        const form_vacant = $("#form_vacant")
        console.log(
            form_vacant
        )
        for (let i of Array(6).keys()) {
            form_vacant[i].classList = "w-full bg-transparent p-2 mx-2 focus:outline-none"
        }

    </script>


 




</div>






{% endblock content %}