{% extends './base/index.html' %}

<!-- trae a main como padre -->
{% block title %}Enterprise Detail{% endblock %}



{% block content %}


<div class="w-1/3">
    <form class="flex flex-col" id="form_social_networks"  action="" method="POST" >
        {% csrf_token %}
        {{ form_social_network.as_p}}
        <button type="submit" name="SET_SOCIALS_NETWORKING">guardar</button>
    </form>
</div>


<div class="mt-4 mx-16">
    <form id="enterprise_form" method="POST" action="" class="flex flex-col">

    {% csrf_token %}
    <div class="flex text-2xl font-bold mr-8 space-x-6">
            <div class="flex">
                <p class="underline -mb-2">
                    Name:
                </p>
                {{ form_netwoking.name}}
            </div>
            <div class="flex">
                <p class="underline -mb-2">
                    Position:
                </p>
                {{ form_netwoking.position}}
            </div>
            <div class="flex">
                <p class="underline -mb-2">
                    Status:
                </p>
                {{ form_netwoking.status}}
            </div>
        </div>


        <div class="flex space-x-2">
            <div class="flex flex-col  w-full">
                <p class="underline text-2xl font-bold">Interests</p>
                {{ form_netwoking.interests}}
            </div>

            <div class="flex flex-col w-full">
                <p class="underline text-2xl font-bold">enterprise_opinion</p>
                {{ form_netwoking.enterprise_opinion}}
            </div>

            <div class="flex flex-col w-full">
                <p class="underline text-2xl font-bold">feed_back</p>
                {{ form_netwoking.feed_back}}
            </div>
            
        </div>
        <div class="bg-teal-900 text-2xl text-white text-center">
            <button type="submit">Save</button>
        </div>

    </form>


</div>

<script>

    // queryselector
    const $ = selector => document.querySelector(selector)
    const form = $("#form_social_networks")

    
    const enterprise_form = document.getElementById("enterprise_form")
    const form_social_networks = document.getElementById("form_social_networks")

    for (let i of Array(7).keys()) {
        enterprise_form[i].className = "w-full bg-gray-300 text-gray-900 font-semibold leading-none focus:outline-none bg-transparent border-b border-black mb-16"
    }

    for(i of Array(8).keys()){
        form_social_networks[i].className = "w-full bg-gray-300 text-gray-900 font-semibold leading-none focus:outline-none bg-transparent border-b border-black mb-2"
        let label = form_social_networks[i].parentElement.children[0]
        label.className = "text-xl underline font-bold"
    }

</script>


{% endblock content %}