<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">

    <script src="{% static 'js/crud.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>


</head>
{% include './navbar.html' %}
<body class="bg-indigo-200 text-gray-800 ">
 

    <div class="px-5  md:px-20 py-16">

        <!-- PATH -->
        <header class="mb-2">
            <h1 class=" text-center text-7xl font-bold drop-shadow-2xl mb-10 text-indigo-600">
                {% block name %}{% endblock %}
            </h1>

            <div class="-mt-10 sm:-mt-24">

                
                <h1 class="font-semibold text-4xl drop-shadow-2xl">Title</h1>
                <div>
                    <p>
                        <a href="{% url 'dashboard' %}" class="hover:underline">home</a> /
                        {% if vacant %}
                        <a href="{% url 'vacant' vacant.slug %}" class="hover:underline">vacant</a> /
                    {% endif %}
                </p>
            </div>
        </div>
            
        </header>
        <!-- PATH -->


        <!-- Overview -->

        <section class="p-5">
            {% block content %}


            {% endblock content %}
        </section>
    </div>


</body>

</html>