<nav class="bg-gray-800 text-white py-5 px-8">
    <div class="flex justify-between">

        <a class="bg-gray-400 rounded-3xl p-2" href="{% url 'index' %}">home</a>

        <div class="grid grid-cols-2 gap-2">
            {% if request.user.is_authenticated %}
            <div class="bg-gray-400 rounded-3xl p-2">
                user: {{request.user}}
            </div>
            <div class="p-2">
                <a class="hover:bg-gray-400 border-black rounded-3xl p-2" href="{% url 'logout' %}">
                    logout
                </a>
            </div>
            {% else %}

            <div class="p-2">
                <a class="hover:bg-gray-400 border-black rounded-3xl p-2" href="{% url 'login' %}">
                    login
                </a>
            </div>
            <div class="p-2">
                <a class="hover:bg-gray-400 border-black rounded-3xl p-2" href="{% url 'register' %}">
                    login
                </a>
            </div>
            {% endif %}
        </div>
    </div>

</nav>