<!-- VACANTS -->
<div class="flex flex-col justify-center">
    <h1 class="text-center text-4xl font-bold">register your Vacants</h1>

    <table class="border shadow-2xl shadow-blacks mt-8">
        <thead class="border my-5 text-center">
            <tr class="border border-black my-4">
                <td class="border-x-2 border-black px-2"> roll_Name </td>
                <td class="border-x-2 border-black px-2"> state </td>
                <td class="border-x-2 border-black px-2"> enterprise </td>
                <td class="border-x-2 border-black px-2"> options </td>
                <!-- <td class="border-x-2 border-black px-2"> my cv </td> -->
            </tr>
        </thead>
        <tbody class="text-center font-bold">


            {% for i in vacants %}
            <tr class="border border-black">
                <td class="border-x-2 border-black px-2">
                    {% if i.enterprise %}
                    <a href="{% url 'vacant' i.enterprise.slug i.slug %}">
                        {{ i.roll_Name }}
                    </a>
                    {% else %}
                    <a href="{% url 'vacant' i.slug i.slug %}">
                        {{ i.roll_Name }}
                    </a>
                    {% endif %}


                </td>
                <td class="border-x-2 border-black">
                    {{ i.state }}
                </td>
                {% if i.enterprise %}
                <td class="border-x-2 border-black px-2">
                    <a href="{% url 'view_enterprise' i.enterprise.slug %}">
                        {{i.enterprise}}
                    </a>
                </td>
                {% else %}
                <td class="border-x-2 border-black">
                    <form method="POST" action="{% url 'vacant' i.slug i.slug %}">
                        {% csrf_token %}
                        <div class="flex">
                            <input class="w-full" type="text" name="ADD_ENTERPRISE">
                        </div>
                    </form>
                </td>
                {% endif %}
                <td class="border-r-2 border-black">
                    {% include './vancant_delete.html' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include './vacants_add.html' %}


    <!-- 
{{ add_vacant_form.strategy }}

{{ add_vacant_form.my_cv }}

{{ add_vacant_form.feed_back }} -->