{% extends '../base.html' %}  <!-- trae a main como padre -->
{% block title %}titulo de la pagina{% endblock %}


{% block content %}  

<!-- bloque de contenido a utilizar -->

<div>
    <h1 class="text-center text-4xl font-bold">register your Inteviews</h1>
</div>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>sitio Web</td>
            <td>Primera Aplicacion</td>
            <td>estado del proceso</td>
            <td>proxima entrevista</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sad</td>
            <td>asd</td>
            <td>asds</td>
            <td>asd</td>
        </tr>

    </tbody>

</table>



{% endblock content %}
