{% extends '../base.html' %}
<!-- trae a main como padre -->
{% block title %}Vacants resgister{% endblock %}


{% block content %}
<h1 class="text-center text-5xl mb-5">
    <span class="text-red-900">{{enterprise}} </span>
    Enterprise Description
</h1>

<div class="mx-12">
    <span class="mr-4">
        path
    </span>

    <span><a class="text-bold underline" href="{% url 'dashboard' %}">home/</a> </span>
    <span>
        <a class="text-bold underline" href="{% url 'view_enterprise' enterprise.slug %}">
            {{enterprise}}/
        </a>
    </span>
</div>



<div class="mt-4 mx-16">
    <div class="mb-5">
        {% for i in vacants %}
        <a href="{% url 'vacant' i.enterprise.slug i.slug %}" class="text-xl underline font-bold">
            vacant: {{ i.roll_Name }}
            status: {{ i.state }}
        </a>
        {% endfor %}
    </div>

    <form id="enterprise_form" method="POST" action="" class="flex flex-col">
        {% csrf_token %}
        <div class="flex">
            <p class="underline text-2xl font-bold  mr-8">Enterprise:</p>
            {{form_enterprise.name}}
        </div>

        <div class="flex space-x-10">

            <div class="flex space-x-2 w-full">
                <p class="flex-shrink-0">
                    Web Link:
                </p>
                {{form_enterprise.web}}
            </div>

            <div class="flex space-x-2 w-full ">
                <p class="flex-shrink-0">
                    Glassdoor Link:
                </p>
                {{form_enterprise.glassdoor_link}}
            </div>
        </div>

        <p class="underline text-2xl font-bold">summary</p>
        {{form_enterprise.summary}}

        <div class="flex flex-col  flex-shrink-0">
            <p class="underline text-2xl font-bold">vision</p>
            {{form_enterprise.vision}}
        </div>

        <div class="flex flex-col  flex-shrink-0">
            <p class="underline text-2xl font-bold">mission</p>
            {{form_enterprise.mission}}
        </div>

        <div class="bg-teal-900 text-2xl text-white text-center">
            <button type="submit">Save</button>
        </div>

    </form>


</div>

<script>
    const enterprise_form = document.getElementById("enterprise_form")

    for (let i of Array(7).keys()) {
        enterprise_form[i].className = "w-full bg-gray-300 text-gray-900 font-semibold leading-none focus:outline-none bg-transparent border-b border-black mb-16"

    }

    enterprise_form[1].classList.add("underline", "text-2xl", "font-bold")

</script>


{% endblock content %}