<!-- VACANTS -->
<div class="flex flex-col justify-center">
    <h1 class="text-center text-4xl font-bold">register your Vacants</h1>

    <table class="border shadow-2xl shadow-blacks mt-8">
        <thead class="border my-5 text-center">
            <tr class="border border-black my-4">
                <td class="border-x-2 border-black px-2"> roll_Name </td>
                <td class="border-x-2 border-black px-2"> state </td>
                <td class="border-x-2 border-black px-2"> enterprise </td>
                <td class="border-x-2 border-black px-2"> options </td>
                <!-- <td class="border-x-2 border-black px-2"> my cv </td> -->
            </tr>
        </thead>
        <tbody>


            {% for i in vacants %}
            <tr class="border border-black">
                <td class="border-x-2 border-black px-2">
                    <a href="{% url 'vacant' i.slug %}">
                        {{ i.roll_Name }}
                    </a>
                </td>
                <td class="border-x-2 border-black">
                    {{ add_vacant_form.state }}
                </td>
                {% if i.enterprise %}
                <td class="border-x-2 border-black px-2">
                    <a href="{% url 'view_enterprise' i.enterprise.slug %}">
                        {{i.enterprise}}
                    </a>
                </td>
                {% else %}
                <td class="border-x-2 border-black">
                    <form method="POST" action="{% url 'add_new_enterprise' i.id %}">
                        {% csrf_token %}
                        <div class="flex">
                            <input class="w-full" type="text" name="query">
                            <button type="submit">ADD</button>
                        </div>
                    </form>
                </td>
                {% endif %}
                <td class="border-r-2 border-black px-2 flex justify-around">
                    <a class="bg-red-500 rounded-lg" onclick="delete_vacant('{{i.slug}}')" href="/">
                        {% csrf_token %}
                        delete</a>
                    <!-- href="{% url 'vacant' i.slug %}" -->
                    <a>edit</a>
                </td>
                <!-- <td>{{ i.my_cv }}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        async function delete_vacant(slug) {
            let csrftoken = getCookie('csrftoken');
            const apiRes = await fetch(`vacant/${slug}/`, {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            });
            if(apiRes.status == 200){
            }
        }
    </script>


    {% include './vacants_add.html' %}


    <!-- 
{{ add_vacant_form.strategy }}

{{ add_vacant_form.my_cv }}

{{ add_vacant_form.feed_back }} -->