{% extends './base/index.html' %}
<!-- trae a main como padre -->
{% block title %}titulo de la pagina{% endblock %}


{% block content %}

<!-- bloque de contenido a utilizar -->

<form id="form" method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-2">
        email: {{ form.email }}
    </div>
    <div class="input-group mb-2">

        password: {{ form.password1 }}
    </div>
    <div class="input-group mb-2">

        confirm password: {{ form.password2 }}
    </div>

    <input type="submit" class="w-100 mb-2 btn btn-lg rounded-4 btn-primary"></input>
    <hr>
    <small class="text-muted">Already have acount?</small>
    <a href="{% url 'login' %}" class="ml-2">Login</a>
</form>



<!-- <script>
    const form = document.getElementById("form")
    form[1].placeholder = 'Username..';
    form[2].placeholder = 'Email..';
    form[3].placeholder = 'Enter password...';
    form[4].placeholder = 'Re-enter Password...';

    for (var field in form) {
        // form[field].classList.add("bg-gray-900 "text-gray-50 "p-5" )
        
        //"leading-none "text-gray-50 "p-3 "focus:outline-none "focus:border-blue-700 "mt-4 "border-0 "bg-gray-800 "rounded")
    }
</script> -->

{% endblock content %}