{% extends '../../base.html' %}
<!-- trae a main como padre -->
{% block title %}Vacant detail{% endblock %}


{% block content %}
<h1 class="text-center text-5xl mb-5">
    <span class="text-red-900">{{ vacant }} </span>
    Vacant Description
</h1>

<div class="mx-12 flex space-x-2 text-red-700">
    <span class="mr-4">
        path
    </span>

    <span><a class="text-bold underline" href="{% url 'dashboard' %}">home/ </a> </span>
    {% if vacant.enterprise %}
    <span><a class="text-bold underline" href="{% url 'enterprise' vacant.enterprise.slug %}">
            {{ vacant.enterprise }}/
        </a></span>
    {% else %}
    <span><a class="text-bold underline" href="{% url 'dashboard' %}">add enterprise/ </a> </span>
    <span><a class="text-bold underline" href="{% url 'vacant' vacant.slug vacant.slug %}">{{vacant}}/ </a></span>
    {% endif %}

</div>



<div class="mt-4 mx-16">
    <div class="my-5 border border-black flex">
        {% if vacant.interview %}
        {% for i in interviews %}
        <div>
            <a href="{% url 'interview' vacant.enterprise.slug vacant.slug i.slug %}" class="text-xl underline font-bold">
                {{i.vacant}}
                next interview: {{ i.day }}
                type: {{ i.type }}
            </a>
            {% endfor %}
        </div>
        {% endif %}

        <form action="{% url 'interview' vacant.enterprise.slug vacant.slug vacant.slug %}" method="post">
            <span href="#" class="text-xl underline font-bold">
                add interview
            </span>
    
            {% csrf_token %}
            <input type="date" name="ADD_INTERVIEW" id="">
            <input type="submit" name="query" value="enviar">
        </form>

    </div>

    <form id="enterprise_form" action="" class="flex flex-col">
        {% csrf_token %}

        <div class="flex">

            <p class="underline text-2xl font-bold  mr-8 flex-shrink-0">Roll Name:</p>
            {{ vacant_form.roll_Name}}
        </div>

        <div class="flex space-x-10">

            <div class="flex space-x-2 w-full">
                <p class="flex-shrink-0">
                    State:
                </p>
                {{ vacant_form.state }}
            </div>

            <div class="flex space-x-2 w-full ">
                <p class="flex-shrink-0">
                    Enterprise:
                </p>
                <a class="text-bold underline" href="{ url 'view_enterprise' enterprise.slug %}">
                    {% if vacant.enterprise %}
                    {{ vacant.enterprise }}
                    {% else %}
                    add enterprise
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="flex flex-col  flex-shrink-0">
            <p class="underline text-2xl font-bold">strategy</p>
            {{vacant_form.strategy}}
        </div>
        <div class="flex flex-col  flex-shrink-0">

            <p class="underline text-2xl font-bold">Roll Description</p>
            {{ vacant_form.roll_description}}
        </div>
        <div class="flex flex-col  flex-shrink-0">
            <p class="underline text-2xl font-bold">Feed Back</p>
            {{ vacant_form.feed_back }}
        </div>


        <div class="bg-teal-900 text-2xl text-white text-center">
            <button type="submit">Save</button>
        </div>

    </form>


</div>

<script>
    const enterprise_form = document.getElementById("enterprise_form")
    for (let i of Array(6).keys()) {
        enterprise_form[i].className = "w-full bg-gray-300 text-gray-900 font-semibold leading-none focus:outline-none bg-transparent border-b border-black mb-16"
    }
    enterprise_form[1].classList.add("underline", "text-2xl", "font-bold")
</script>


{% endblock content %}