<nav class="bg-gray-900 text-white py-5 px-8">
    <div class="flex justify-between">

        <button>home</button>

        <div class="grid grid-cols-2 gap-2">
            {% if request.user.is_authenticated %}

            user: {{request.user}}
            <button class="hover:bg-gray-400 border-black rounded-3xl p-2">
                <a href="{% url 'logout' %}">
                    logout
                </a>
            </button>
            {% else %}
            <button class="hover:bg-gray-400 border-black rounded-3xl p-2">
                <a href="{% url 'login' %}">
                    login
                </a>
            </button>
            <a href="{% url 'register' %}">

                <button class="hover:bg-gray-400 border-black rounded-3xl p-2">
                    register
                </button>
            </a>
            {% endif %}
        </div>
    </div>

</nav>