{% extends './base/index.html' %}

<!-- trae a main como padre -->
{% block title %}Vacant detail{% endblock %}

{% block name %}Overview{% endblock %}


{% block content %}




<div class="mt-4 mx-16">
    <div class="my-5 border border-black flex justify-between">
        {% if vacant.interview %}
        <div class="flex flex-col space-y-5">

            {% for i in interviews %}
                <div class="flex">
                    {% if vacant.enterprise %}
                        <a href="{% url 'interview' vacant.enterprise.slug vacant.slug i.slug %}"
                        class="text-xl underline font-bold">
                    {% else %}
                        <a href="{% url 'interview' vacant.slug vacant.slug i.slug %}" class="text-xl underline font-bold">
                    {% endif %}
                        next interview: {{ i.day }}
                        type: {{ i.type }}
                    </a>    
                    
                    <form class="mx-2 bg-red-500 rounded-xl border-white" 
                    action="{% url 'add_interview' i.slug %}" method="post">
                    {% csrf_token%}
                        <button name="DELETE_INTERVIEW">Delete</button>
                    </form>
                </div>
            {% endfor %}
        </div>

        {% endif %}

        <form class="flex flex-col" action="{% url 'add_interview' vacant.slug %}" method="post">
            <span href="#" class="text-xl underline font-bold mb-2">
                add interview
            </span>
            {% csrf_token %}
            <input type="datetime-local" name="ADD_INTERVIEW" id="">
            <input type="submit" name="query" value="enviar">
        </form>

    </div>

    <form id="enterprise_form" method="POST" action="" class="flex flex-col">
        {% csrf_token %}
        
        <div class="flex space-x-10">
            <div class="flex space-x-2 w-full">
                <p class="underline text-2xl font-bold  mr-8 flex-shrink-0">Roll Name:</p>
                {{ vacant_form.roll_Name}}
            </div>

            <div class="flex space-x-2 w-full">
                <p class="flex-shrink-0">
                    Status:
                </p>
                {{ vacant_form.status }}
            </div>

            <div class="flex space-x-2 w-full ">
                {{ vacant_form.enterprise }}
                <p class="flex-shrink-0">
                    Enterprise:
                </p>

                {% if vacant.enterprise %}
                <a class="text-bold underline" href="{% url 'enterprise' vacant.enterprise.slug %}">
                    {{ vacant.enterprise }}
                    {% else %}
                    <a class="text-bold underline" href="{% url 'index' %}">
                        add enterprise
                        {% endif %}
                    </a>
            </div>
        </div>

        <div class="flex flex-col  flex-shrink-0">
            <p class="underline text-2xl font-bold">strategy</p>
            {{vacant_form.strategy}}
        </div>
        <div class="flex flex-col  flex-shrink-0">

            <p class="underline text-2xl font-bold">Roll Description</p>
            {{ vacant_form.roll_description}}
        </div>
        <div class="flex flex-col  flex-shrink-0">
            <p class="underline text-2xl font-bold">Feed Back</p>
            {{ vacant_form.feed_back }}
        </div>


        <div class="bg-teal-900 text-2xl text-white text-center">
            <button type="submit">Save</button>
        </div>

    </form>


</div>

<script>
    const enterprise_form = document.getElementById("enterprise_form")
    
    for (let i of Array(7).keys()) {
        enterprise_form[i].className = "w-full bg-gray-300 text-gray-900 font-semibold leading-none focus:outline-none bg-transparent border-b border-black mb-16"
    }
    enterprise_form[1].classList.add("underline", "text-2xl", "font-bold")
    enterprise_form[3].className = "hidden"
</script>


{% endblock content %}