<!-- FORM add vacant -->
<div id="add_networking" class="hidden">
    <div class=" z-10
                w-full flex justify-center 
                fixed inset-x-0 inset-y-0 
                ">

        <!-- background with click close -->
        <div onclick="showing('#add_networking')" 
        class="z-0
                    fixed w-full h-full
                    bg-black bg-opacity-50">
            <!-- background with click close -->

        </div>
        <div class="
                    w-1/2 flex justify-center 
                    inset-x-0 inset-y-0 
                    py-[20%] md:py-[10%]
                    ">

            <div class="z-0 w-full
                        bg-gray-700 border border-black flex flex-col justify-end my-auto px-5 py-4 rounded-2xl  ">
                <div class="flex justify-between">
                    <h1 class="text-xl text-white">Add Networking</h1>
                    <h3 onclick="showing('#add_networking')" class="bg-red-500 px-3 text-white hover:cursor-pointer "> x
                    </h3>
                </div>
       
                <form id="networkingform" class="flex flex-col text-white font-bold text-xl" method="POST"
                    action="{% url 'post_networking' vacant.slug %}">

                    {% csrf_token %}
                    <input class="my-4 bg-gray-600 " type="text" name="name" placeholder="name" id="">
                    <input class="my-4 bg-gray-600 " type="email" name="main_social" placeholder="main_social" id="">
                    <input class="bg-indigo-600 px-3 font-semibold text-white hover:cursor-pointer mt-2 rounded-md" type="submit" name="ADD_NETWORKING" value="enviar">
                </form>

            </div>
        </div>
    </div>
    <!-- FORM add vacant -->
    </section>

    <!-- end Overview -->
</div>


<script>


    const vacantForm = $("#vacantForm")

    for (var field of Array(3).keys()) { // num of fields should be exact
        vacantForm[field].className = "w-[100%] leading-none text-gray-50 p-3 focus:outline-none focus:border-blue-700 border-0 bg-gray-800 rounded mt-5"
        vacantForm[field].placeholder = vacantForm[field].name
    }
</script>